:root {
  --main-background: rgb(225, 232, 255);
  
  --main-color: white;
  --second-color: black;
  --main-border-radius: 4px;
  --second-background: rgb(32, 19, 153);
}

.App {
  padding: 0;
  margin: auto;
  text-align: center;
  width: 600px;
  height: 400px;
  margin-top: 85px;
}


.App{
  background-color:var(--main-color);
 
}
