:root {
  --main-background: rgb(225, 232, 255);
  --main-color: white;
  --second-color: black;
  --main-border-radius: 4px;
  --second-background: rgb(32, 19, 153);
}
html{
  user-select: none;
  background-color: var(--main-background);
  padding: 0;
  margin: 0;
}